<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@latest/css/bulma.min.css"
    />
    <title>Gero FastAPI</title>
  </head>

  <body class="p-2">
    <!-- Hello Section -->
    <section class="section has-text-centered">
      <div class="container">
        <h1 class="title is-2">Hello, let's get active!</h1>
        <p class="subtitle is-6">Let me suggest you some activity</p>
        <p class="has-text-weight-bold has-text-centered">DO NOT BE LAZY</p>
        and don't let yourself get bored!
        <br />
        <!-- button -->
        <br />
        <button
          id="new-activity-btn"
          class="button is-primary"
          role="button"
          onClick="window.location.reload();"
        >
          New activity
        </button>
      </div>
      <div class="card">
        <div class="card-content">
          <h3 class="title is-2" style="color: brown" id="suggested-activity">
            {{activity}}
          </h3>
        </div>
      </div>
      <!-- image -->

      <figure class="">
        <img
          src="{{image}}"
          alt=""
          style="
            border-radius: 10px;
            object-fit: cover;
            width: 40%;
            height: auto;
          "
        />
      </figure>
    </section>

    <footer class="footer has-text-centered">
      Made with ❤️ by <a href="https://www.gerozayas.com">Gero Zayas</a>
    </footer>

    <script src="{{ url_for('static', path='index.js') }}"></script>
  </body>
</html>
